---
import ChooseUs from '../components/home/ChooseUs.astro'
import Collection from '../components/home/Collection.astro'
import Hero from '../components/home/Hero.astro'
import HowWorks from '../components/home/HowWorks.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Coffeeroasters subscription site">
  <div class="container mx-auto w-full px-6 md:px-10 lg:px-0">
    <Hero />
    <Collection />
    <ChooseUs />
    <HowWorks />
  </div>
</Layout>
