---

---

<div class="bg-[#2C343E] rounded-[10px] pt-16 px-6 text-center">
  <h2 class="heading-3 text-light-cream mb-6">Why choose us?</h2>
  <p class="text-light-cream text-[15px] leading-[25px] opacity-80">
    A large part of our role is choosing which particular coffees will be featured in our range.
    This means working closely with the best coffee growers to give you a more impactful experience
    on every level.
  </p>
</div>
