---
import { Image } from 'astro:assets'

import iconCoffe from '../../assets/home/desktop/icon-coffee-bean.svg'
import iconGift from '../../assets/home/desktop/icon-gift.svg'
import iconTruck from '../../assets/home/desktop/icon-truck.svg'

const cards = [
  {
    title: 'Best quality',
    description:
      'Discover an endless variety of the world’s best artisan coffee from each of our roasters.',
    image: iconCoffe,
    class: 'w-[72px] h-[72px] md:w-[56px] md:h-[56px] lg:w-[72px] lg:h-[72px]',
  },
  {
    title: 'Exclusive benefits',
    description:
      'Special offers and swag when you subscribe, including 30% off your first shipment.',
    image: iconGift,
    class: 'w-[72px] h-[72px] md:w-[56px] md:h-[56px] lg:w-[72px] lg:h-[72px]',
  },
  {
    title: 'Free shipping',
    description: 'We cover the cost and coffee is delivered fast. Peak freshness: guaranteed.',
    image: iconTruck,
    class: 'w-[72px] h-[50px] md:w-[55px] md:h-[39px] lg:w-[72px] lg:h-[50px]',
  },
]
---

<div>
  <div
    class="bg-[#2C343E] rounded-[10px] pt-16 md:pt-14 lg:pt-[100px] px-6 md:px-[74px] text-center h-[902px] md:h-[573px] lg:h-[577px] flex flex-col items-center"
  >
    <h2
      class="font-black font-heading text-light-cream mb-6 text-[28px] leading-[28px] md:text-[32px] md:leading-[48px] lg:text-[40px] lg:leading-[48px]"
    >
      Why choose us?
    </h2>
    <p class="text-light-cream text-[15px] leading-[25px] opacity-80 md:max-w-[521px]">
      A large part of our role is choosing which particular coffees will be featured in our range.
      This means working closely with the best coffee growers to give you a more impactful
      experience on every level.
    </p>
  </div>
  <ul
    class="flex flex-col lg:flex-row gap-6 mt-[-589px] md:mt-[-312px] lg:mt-[-256px] px-6 md:px-[58px] lg:px-[85px]"
  >
    {
      cards.map((card) => (
        <li class="bg-dark-cyan rounded-lg h-[382px] md:h-[180px] lg:h-[382px] flex flex-col md:flex-row lg:flex-col justify-center items-center gap-14 lg:px-12">
          <Image src={card.image} alt="" class={card.class} />
          <div class="flex flex-col items-center gap-6 md:gap-4 text-center md:text-left md:items-start lg:text-center lg:items-center">
            <h3 class="heading-4 text-light-cream">{card.title}</h3>
            <p class="text-light-cream text-[15px] max-w-[212px] md:max-w-[344px]">
              {card.description}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</div>
