---
import { Image } from 'astro:assets'

import dancheImage from '../../assets/home/desktop/image-danche.png'
import granEspressoImage from '../../assets/home/desktop/image-gran-espresso.png'
import piccolloImage from '../../assets/home/desktop/image-piccollo.png'
import planaltoImage from '../../assets/home/desktop/image-planalto.png'
---

<div class="pt-[136px] pb-[120px] lg:pb-[200px] lg:max-w-[1111px] mx-auto">
  <h2
    class="heading-2 md:heading-title-tablet text-center mb-10 md:-mb-14 lg:-mb-24 lg:heading-title bg-[linear-gradient(180deg,hsl(215_19%_25%/0.6)_0%,hsl(43_78%_98%/0)_100%)] lg:bg-[linear-gradient(180deg,hsl(215_19%_25%/0.4)_0%,hsl(43_78%_98%/0)_80%)]"
    style={{
      WebkitBackgroundClip: 'text',
      WebkitTextFillColor: 'transparent',
    }}
  >
    our collection
  </h2>
  <div>
    <ul class="flex flex-col lg:flex-row gap-12 md:items-center">
      <li
        class="flex flex-col md:flex-row lg:flex-col items-center text-center md:text-left lg:text-center lg:gap-[70px] flex-1"
      >
        <Image
          src={granEspressoImage}
          alt=""
          class="w-[200px] h-[151px] md:w-[255px] md:h-[193px]"
        />
        <div class="flex flex-col gap-4 md:gap-6">
          <h3 class="heading-4">Gran Espresso</h3>
          <p class="max-w-[282px]">
            Light and flavorful blend with cocoa and black pepper for an intense experience
          </p>
        </div>
      </li>
      <li
        class="flex flex-col md:flex-row lg:flex-col items-center text-center md:text-left lg:text-center lg:gap-[70px] flex-1"
      >
        <Image src={planaltoImage} alt="" class="w-[200px] h-[151px] md:w-[255px] md:h-[193px]" />
        <div class="flex flex-col gap-4 md:gap-6">
          <h3 class="heading-4">Planalto</h3>
          <p class="max-w-[282px]">
            Brazilian dark roast with rich and velvety body, and hints of fruits and nuts
          </p>
        </div>
      </li>
      <li
        class="flex flex-col md:flex-row lg:flex-col items-center text-center md:text-left lg:text-center lg:gap-[70px] flex-1"
      >
        <Image src={piccolloImage} alt="" class="w-[200px] h-[151px] md:w-[255px] md:h-[193px]" />
        <div class="flex flex-col gap-4 md:gap-6">
          <h3 class="heading-4">Piccollo</h3>
          <p class="max-w-[282px] lg:max-w-[261px]">
            Mild and smooth blend featuring notes of toasted almond and dried cherry
          </p>
        </div>
      </li>
      <li
        class="flex flex-col md:flex-row lg:flex-col items-center text-center md:text-left lg:text-center lg:gap-[70px] flex-1"
      >
        <Image src={dancheImage} alt="" class="w-[200px] h-[151px] md:w-[255px] md:h-[193px]" />
        <div class="flex flex-col gap-4 md:gap-6">
          <h3 class="heading-4">Danche</h3>
          <p class="max-w-[282px] lg:max-w-[267px]">
            Ethiopian hand-harvested blend densely packed with vibrant fruit notes
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
