---
import { Image } from 'astro:assets'

import logo from '../assets/shared/desktop/logo.svg'
import hamburgerIcon from '../assets/shared/mobile/icon-hamburger.svg'
---

<header
  class="flex w-full justify-between items-center mx-auto pt-8 md:pt-10 pb-10 md:pb-[53px] lg:py-[43px] container px-6 md:px-10 lg:px-0"
>
  <Image src={logo} alt="logo" width="163" height="18" />

  <Image src={hamburgerIcon} alt="logo" class="md:hidden block" />

  <nav class="hidden md:block">
    <ul
      class="flex flex-row justify-center items-center uppercase font-bold text-xs 2xl:text-sm space-x-8"
    >
      <li>
        <a href="/" class="text-grey transition-colors duration-300 hover:text-dark-grey-blue"
          >Home</a
        >
      </li>
      <li>
        <a href="/about" class="text-grey transition-colors duration-300 hover:text-dark-grey-blue"
          >About us</a
        >
      </li>
      <li>
        <a
          href="/subscribe"
          class="text-grey transition-colors duration-300 hover:text-dark-grey-blue"
          >Create your plan</a
        >
      </li>
    </ul>
  </nav>
</header>
