---
import { Image } from 'astro:assets'

import logo from '../assets/shared/desktop/logo.svg'
import hamburgerIcon from '../assets/shared/mobile/icon-hamburger.svg'
---

<header
  class="mx-auto flex w-full items-center justify-between px-6 pb-10 pt-8 md:px-10 md:pb-[53px] md:pt-10 lg:px-20 lg:py-[43px] 2xl:px-40"
>
  <Image src={logo} alt="logo" width="163" height="18" />

  <Image src={hamburgerIcon} alt="logo" class="block md:hidden" />

  <nav class="hidden md:block">
    <ul
      class="flex flex-row items-center justify-center space-x-8 text-xs font-bold uppercase 2xl:text-sm"
    >
      <li>
        <a href="/" class="text-grey transition-colors duration-300 hover:text-dark-grey-blue"
          >Home</a
        >
      </li>
      <li>
        <a href="/about" class="text-grey transition-colors duration-300 hover:text-dark-grey-blue"
          >About us</a
        >
      </li>
      <li>
        <a
          href="/subscribe"
          class="text-grey transition-colors duration-300 hover:text-dark-grey-blue"
          >Create your plan</a
        >
      </li>
    </ul>
  </nav>
</header>
